/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 14/12/2018, 9:26:47 AM
    Author     : Orion
*/

@import "variables";

@import "bootstrap-custom";

body{
  background: #F7F7F7;
  padding: 0px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-right: 0;
  padding-left: 0;
}

.game-container{
  background: #FFF;
  border: 1px solid #EEE;
  padding: 15px;
}

.play-area {
  margin: 0 auto;
  width: 300px;
  height: 300px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);

  border: 2px solid #EEE;

  .block {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    font-size: 3rem;
    font-weight: bold;
    border: 2px solid #EEE;
    transition: background 0.1s ease-in-out;

    &:hover{
      cursor: pointer;
      background: #EEE;
    }
  }
}


